body{
    text-align: center;
    background-color: rgb(0, 0, 0);
}

button{
    background-color: blue;
    font-size: 100%;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: 150px;
}

button:hover{
    background-color: rgb(45, 255, 135);
    color: black;
    transition-duration: 0.5s;
    border-radius: 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px;
}

.square{
    width: 15%;
    height: 10rem;
    background-color: white;
    border: 2px solid rgb(255, 255, 255);
    display: inline-block;
    border-radius: 15px;
    margin: 5px;
}

.square:hover{
    background-color: rgb(45, 255, 135);
    border: none;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "🏹";
    font-size: 100px;
    line-height: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x{
    
    position: relative;
}

.x:after{
    position: absolute;
    content: "⚔️";
    font-size: 100px;
    line-height: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gameOver h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}